archspec==0.2.3
boltons==24.0.0
Brotli==1.1.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
conda==24.7.1
conda-content-trust==0.2.0
conda-libmamba-solver==23.12.0
conda-package-handling==2.3.0
conda_package_streaming==0.10.0
cryptography==42.0.8
distro==1.9.0
frozendict==2.4.4
idna==3.7
jsonpatch==1.33
jsonpointer==3.0.0
libmambapy==1.5.4
menuinst==2.1.1
packaging==24.1
pip==23.3
platformdirs==4.2.2
pluggy==1.5.0
pycosat==0.6.6
pycparser==2.22
pyOpenSSL==24.0.0
PySocks==1.7.1
requests==2.32.3
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
setuptools==68.2.2
tqdm==4.66.4
truststore==0.8.0
urllib3==2.2.1
wheel==0.41.2
zstandard==0.22.0
